header {
	background: #817f7f;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background: #817f7f;
}

h2 {
	text-transform: uppercase;
	columns: #34486e;;
}

img {
	display: none;
}

section {
	background: #818181;
}

a {
	color: #000000;
	background: #d3d3d3;
	text-align: center;
}